#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #607998;
  --gradient-color-2: #4c81c0;
  --gradient-color-3: #1d5395;
  --gradient-color-4: #7f83b4;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
}

body{
    margin:0;
    overflow:hidden;
}
